.layout {
    @apply min-h-screen max-w-full h-full flex flex-nowrap;

    main {
        @apply flex-1 overflow-hidden flex flex-col gap-5;
    }

    .content {
        @apply p-3;
    }

    .head {
        @apply grid
            md:grid-cols-2
            items-center
            min-h-11;

        .content {
            @apply p-4;
        }

        .profile {
            @apply flex
                row-start-1
                md:row-start-1
                md:col-start-2
                flex-row-reverse
                justify-between
                p-4
                bg-white
                md:bg-transparent
                border-b
              border-gray-200
                md:border-0;
        }

        .avatar {
            @apply w-10 h-10
                bg-slate-700
                rounded-lg
                text-white
                font-bold
                relative;
        }
    }
}
