.layout {
    @apply min-h-screen max-w-full h-full flex flex-nowrap;

    main {
        @apply flex-1 overflow-hidden flex flex-col gap-5;

        .floating-menu {
            @apply max-w-60 z-10;

            button {
                @apply block w-full p-4 text-left text-sm hover:bg-gray-50 active:bg-gray-100;
            }
        }
    }

    .content {
        @apply p-3;
    }

    .head {
        @apply grid
            md:grid-cols-2
            items-center
            min-h-11
            pt-20
            md:pt-0
            z-20;

        .content {
            @apply p-4;
        }

        .profile {
            @apply fixed
                top-0
                w-full
                flex
                row-start-1
                md:row-start-1
                md:col-start-2
                md:static
                flex-row-reverse
                justify-between
                p-4
                bg-white
                md:bg-transparent
                border-b
              border-gray-200
                md:border-0;
        }

        .avatar {
            @apply w-10 h-10
                bg-brand
                rounded-lg
                text-white
                font-bold
                relative;
        }
    }
}
